{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}

<title xmlns="http://www.w3.org/1999/html">{{title}}</title>
<div class="container">
    <div class="">
        <div class="row" id="">
            <div class="card-panel" >
                <div class="row">
                    <H6 class="header">Search Influencers</H6>
                    <form class="col s12" action="/search" method="POST">
                        <div class="row">
                            <div class="form-field col s12">
                                <input id="string_word" name="string_word" type="text">
                                <label for="string_word">Enter Keyword</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-field col s4">
                                <select id="select_channel" name="select_channel">
                                    <option value="" disabled selected></option>
                                    <option value="1">Youtube</option>
                                    <option value="2">Facebook</option>
                                    <option value="3">Twitter</option>
                                    <option value="4">Instagram</option>
                                </select>
                                <label>Select Channel</label>
                            </div>
                            <div class="form-field col s4">
                                <select id="select_country" name="select_country">
                                    <option value="" disabled selected></option>
                                    <option value="1">US</option>
                                    <option value="2">GBT</option>
                                    <option value="3">POLAND</option>
                                </select>
                                <label>Select Country</label>
                            </div>
                            <div class="form-field col s4">
                                <span>Followers</span>
                                <p class="range-field">
                                    <input type="range" id="followers" name="followers" min="0" max="100" />
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-field col s12">
                                <button class="btn cyan waves-effect waves-light left" type="submit" name="search_inf">Search
                                    <i class="mdi-content-search right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        {% for item in data %}
    <div class="card-panel">
        <div class="row">
            <div class="col s1 "><img src="{{item[2]}}" class="circle responsive-img"></div>
            <div class="col  s11  truncate"><b>{{item[1]}}</b></div>
            <div class="col s1 ">Followers
                <div>{{item[4]}}</div>
            </div>
            <div class="col s1 ">Avg Views
                <div>{{item[7]}}</div>
            </div>
            <div class="col s1 ">Avg Likes
                <div>{{item[9]}}</div>
            </div>
            <div class="col s1 ">Avg Comments
                <div>{{item[11]}}</div>
            </div>
            <!--<div class="col s7" id="chart_div">
            </div>-->
            <br>
            <div class="col offset-1 s11 blue">
                <div class="col s1"><i class="mdi-communication-email"></i></div>
            </div>
        </div>
    </div>
        {% endfor %}

</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Dogs');

      data.addRows([
        [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
        [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
        [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
        [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
        [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
        [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
        [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
        [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
        [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
        [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
        [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
        [66, 70], [67, 72], [68, 75], [69, 80]
      ]);

      var options = {
        theme:'material',
        focusTarget:'category',
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Popularity'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    </script>
{% endblock %}

