{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}

<title xmlns="http://www.w3.org/1999/html">{{title}}</title>
<div class="container">
    <div class="">
        <div class="row">
            <div class="card-panel" >
                <div class="row">
                    <H6 class="header">Search Influencers</H6>
                    <form class="col s12" action="/search" method="GET">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text">
                                <label for="first_name">Enter Keyword</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <select>
                                    <option value="" disabled selected></option>
                                    <option value="1">Youtube</option>
                                    <option value="2">Facebook</option>
                                    <option value="3">Twitter</option>
                                    <option value="3">Instagram</option>
                                </select>
                                <label>Select Channel</label>
                            </div>
                            <div class="input-field col s4">
                                <select>
                                    <option value="" disabled selected></option>
                                    <option value="1">US</option>
                                    <option value="2">GBT</option>
                                    <option value="3">POLAND</option>
                                </select>
                                <label>Select Country</label>
                            </div>
                            <div class="input-field col s4">
                                <span>Followers</span>
                                <p class="range-field">
                                    <input type="range" id="followers" min="0" max="100" />
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light left" type="submit" name="action">Search
                                    <i class="mdi-content-search right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="card-panel">

</div>
</div>

{% endblock %}

