{% extends 'layout.html' %}
{{ super() }}
{% block body %}
<div class="row login">

    <div class="col s6 l4 offset-l4">
        <div class="card">
            <div class="card-action white white-text">
                <img src="/static/img/logo.png" class="responsive-img">
            </div>
            <div class="card-content">
                <form id="brand_register" name="brand_register" method="POST" action="/saveBrand">
                <div class="form-field">
                    <input type="text" id="first_name" name="first_name" class="validate" placeholder="First Name" required>
                </div>
                <div class="form-field">
                    <input type="text" id="last_name" name="last_name" class="validate"  placeholder="Last Name" required>
                </div>
                <div class="form-field">
                    <input type="text" id="company_name" name="company_name" class="validate"  placeholder="Company Name" required>
                </div>
                <div class="form-field">
                    <input type="email" id="email" name="email" class="validate"  placeholder="Email" required>
                </div>
                <div class="form-field">
                    <input type="password" id="password" name="password" class="validate"  placeholder="Password" minlength="6" required>
                </div>
                <div class="form-field">
                    <input type="password" id="confirm_password" name="confirm_password" class="validate"  placeholder="Confirm Password" required>
                </div>
                <label>
                    <input type="checkbox" class="filled-in" required/>
                    <span>Terms & Condition</span>
                </label>
                <div class="form-field center-align">
                    <button class="waves-effect waves-light btn-small purple hoverable" type="submit" onclick="return check('brand_register','password','confirm_password')">Register</button>
                </div>
                </form>
                <br>
                <div class="divider"></div>
                <br>
                <!--<div class="form-field center-align">

                    <a href="/loginLinkedin" class="waves-effect waves-light btn social linkedin blue hoverable">Sign in With LinkedIN</a>
                </div>-->
            </div>
        </div>
    </div>

</div>


{% endblock %}